doctype
html
  head
    title Add new medicine
  body
    h3 Medicine Details
    form(id='form', method='post', action='/pharmacy/create')
      label(for='id') Id
      input(type='text', id='id', name='id')
      <br/><br/>
      label(for='text') Medicine Name
      input(type='text', id='text', name='name')
      <br/><br/>
      label(for='com') Company Name
      input(type='text', id='com', name='company')
      <br/><br/>
      label(for='date1') Manufacturing Date
      input(type='text', id='date1', name='manufacturingDate')
      <br/><br/>
      label(for='date2') Expiry Date
      input(type='text', id='date2', name='expiryDate')
      <br/><br/>
      label(for='price') Price
      input(type='text', id='price', name='price')
      <br/><br/>
      input(type='submit', value='Add Medicine')
